.env
.idea
/.env
/.idea
/vendor
.DS_Store
#phpstorm

.idea
.idea/*
.idea/**
*.csv

public_html/assets/**
public_html/imager/**
public_html/img/**
public_html/images/**
backups
public_html/.htaccess
scripts/**
storage/**
vendor/**
tjm.code-workspace

public_html/documents/**
*.example
tjm4.code-workspace
modules/Module.php
public_html/assets.zip
public_html/apple-touch-icon.png
